<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card mt-4 text center">
			<div class="card-header">
				<h1>account login</h1>
			</div>
			<p>
				some image here, <em>we will use passport, passport-local to authenticate the user</em>
			</p>
			<div class="card-body">
				<form action="/users/signin" method="POST">
					<div class="form-group"><input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control"></div>
					<div class="form-group"><input type="password" name="password" class="form-control" id="" placeholder="Password"></div>
					<div class="form-group"><button class="btn btn-primary btn-block">Login</button></div>
				</form>
			</div>
		</div>
	</div>
</div>